@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html,body{
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hover:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hover-underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* header */
.header {
    background-image: url(./images/unsplash_dPUWzT5dqz8.png);
    width: 100%;
    height: 1280px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.header::after {
    content: '';
    width: 100%;
    height: 334px;
    position: absolute;
    top: 946px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 83.65%);
    ;
}

.nav-bar {
    font-weight: 600;
    font-size: 24px;
    margin-left: 848px;
    padding: 0 -34px;
    display: flex;
}

.nav-item-wrapper {
    margin-top: 65px;
}

.nav-item {
    display: inline-block;
    margin: 0 34px;
    color: #FFFFFF;
}

.bag {
    display: inline-block;
    margin-left: 178px;
    margin-top: 65px;
    position: relative;
}

.quanity {
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 3px 8px;
    font-weight: 700;
    font-size: 14px;
    right: -8px;
    top: 2px;
}

.introduce {
    margin-top: 202px;
    text-align: center;
}

.introduce-heading {
    margin: 0 auto;
    width: 1128px;
    font-size: 82px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.introduce-content {
    margin: 24px auto;
    width: 583px;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.search-section {
    padding-top: 24px;
    display: inline-block;
}

.search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    width: 463px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    padding: 0 10px 0 30px;
}

.search-input {
    display: inline-block;
    width: 125px;
    height: 30px;
    flex: 1;
    color: white;
    font-weight: 400;
    font-size: 20px;
    border: none;
    background-color: transparent;
    outline: none;
}

.search-input::placeholder {
    color: #FFFFFF;
}

.search-input:focus::placeholder {
    color: transparent;
}

.search-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
    background: #525A55;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-point {
    margin-top: 6px;
    margin-left: 86%;
    width: 54px;
    height: 54px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    /* backdrop-filter: blur(5px); */
    border-radius: 50%;
    display: flex;
    position: relative;
}

.child-point {
    margin: auto;
    width: 16px;
    height: 16px;
    background: #FFFFFF;
    border-radius: 50%;
}

.first-point-content {
    position: absolute;
    top: calc(-116px - 5px);
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 100px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    padding: 15px 12px 12px 24px;
    text-align: center;
    color: #FFFFFF;
}

.first-point-content img {
    opacity: 1;
}

.first-point-content h3 {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 32px;
    color: white;
}

.first-point-content p {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.second-point {
    margin-top: 78px;
    margin-left: 145px;
    width: 304px;
    height: 177px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    padding: 15px 12px 12px 24px;
    text-align: left;
    color: #FFFFFF;
    position: relative;
}

.second-point h3 {
    font-size: 24px;
    font-weight: 600;
    height: 29px;
}

.second-point-note {
    margin-top: 8px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.second-point-note p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 25px;
}

.second-point-note div {
    color: #DCB47A;
    font-size: 16px;
    font-weight: 400;
}

.second-point>p {
    font-size: 16px;
    font-weight: 400;
    line-height: 170%;
}

.second-point::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 62px;
    width: 62px;
    background-image: url(images/Ellipse\ 1594.png);
    top: 0;
    right: 0;
    transform: translateY(-50%);
}

/* body */

.body {
    margin-top: 7px;
    overflow: hidden;
    width: 100%;
}

.body-header {
    width: 1272px;
    margin: 0 auto 140px;
    display: flex;
    justify-content: space-between;
}

.advatages {
    display: flex;
}

.advatages-content {
    margin-left: 30px;
}

.advatages-content h3 {
    color: #081323;
    font-weight: 500;
    font-size: 27.3732px;
    line-height: 32px;
}

.advatages-content p {
    margin-top: 14px;
    font-weight: 500;
    font-size: 17.1083px;
    line-height: 20px;
    color: #828282;
}

.products {
    margin-bottom: 136px;
}

.products-header {
    margin-left: 333px;
}

.products-header h1 {
    font-weight: 600;
    font-size: 75.6332px;
    line-height: 89px;
    color: #081323;
    margin-bottom: 30px;
    width: 485px;
}

.products-header p {
    font-weight: 500;
    font-size: 25.9314px;
    line-height: 30px;
    color: #4F4F4F;
    display: inline-block;
}

.products-header p span {
    position: relative;
    top: 5px;
    margin-left: 21px;
}

.products-detail {
    margin-top: 55px;
    display: flex;
    width: 3020px;
    position: relative;
    left: -106px;
}

.products-detail::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 643px;
    height: 625px;
    background: linear-gradient(272.93deg, #FFFFFF 37.62%, rgba(255, 255, 255, 0) 100.12%);
    left: 1672px;
    bottom: 80px;
}

.product-content-wrapper {
    width: 388px;
    height: 505px;
    background: #FFFFFF;
    box-shadow: 0px 6.45883px 12.9177px rgba(41, 41, 41, 0.08);
    border-radius: 25.8353px;
    overflow: hidden;
    margin-right: 61px;
}

.product-content-wrapper:first-child,
.product-content-wrapper:nth-child(4) {
    margin-right: 32px;
}


.product-content {
    padding: 0 32px;
    margin-top: 16px;
}


.product-title {
    height: 39px;
    width: 323px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.product-title h3 {
    font-weight: 400;
    font-size: 14px;
    color: #292929;
}

.product-content p {
    font-weight: 400;
    font-size: 20px;
    color: #292929;
    margin-bottom: 24px;
}

.product-lable span {
    display: inline-block;
    padding: 12px 13px;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #DCB47A;
    text-align: center;
    background: #F6FFF6;
    border: 1.61471px solid #DCB47A;
    border-radius: 19.3765px;
    margin-right: 8px;
}

/* plant */

.plant {
    margin-bottom: 209px;
}

.plant-title {
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    color: #081323;
}

.plant-subtitle {
    margin-top: 32px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    color: #4F4F4F;
}

.plant-wrapper {
    width: 1195px;
    margin: 74px auto 0;
}

.block-plant-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-plant-wrapper:first-child {
    margin-bottom: 59px;
}

.main-image {
    border-radius: 30px;
    width: 700px;
    height: 615px;
    overflow: hidden;
    position: relative;
}

.main-image img {
    width: 100%;
    height: 100%;
}

.main-image::after {
    content: 'living room';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.23);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 64px;
    color: #FFFFFF;
}

.main-image:hover {
    transform: scale(0.95);
    cursor: pointer;
    transition: all ease 0.2s;
}

.main-image:hover img {
    filter: blur(3px);
}

.main-image:hover::after {
    font-size: 80px;
    transition: all ease 0.2s;
}

.main-image.plant2 {
    right: 8px;
}

.plant2.main-image::after {
    content: 'see all';
}

/* visit */
.visit-wrapper {
    height: 378px;
    background: #262626;
    text-align: center;
    padding: 71px 0 76px;
}

.visit-wrapper h1 {
    font-weight: 600;
    font-size: 62.8293px;
    color: #FFFFFF;
    height: 96.86px;
    line-height: 130%;
}

.visit-wrapper span {
    color: rgba(220, 180, 122, 1);
}

.visit-wrapper p {
    font-weight: 400;
    font-size: 20.9431px;
    color: rgba(255, 255, 255, 0.8);
}

.visit-wrapper button {
    margin-top: 36px;
    background: #DCB47A;
    border-radius: 60px;
    width: 205.19px;
    height: 64.39px;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
}

/* footer */

.footer {
    width: 100%;
    margin: 203px auto 0;
}

.footer-heading {
    display: flex;
}

.footer-subrice {
    margin-right: 122px;
}



.subrice-wrapper {
    width: 463px;
    height: 71px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #878787;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 12px 30px;
}

.subrice-wrapper:focus-within {
    border: 2px solid #878787 ;
}

.subrice-wrapper input {
    outline: none;
    border: none;
}

.subrice-wrapper input,
.subrice-wrapper input::placeholder {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #878787;
}

.subrice-wrapper input:focus::placeholder {
    color: transparent;
}

.subrice-wrapper button {
    width: 145px;
    height: 47px;
    background: #DCB47A;
    border-radius: 50px;
    padding: 12px 24px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.footer-info {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.info-wrapper {
    flex: 1;
}

.info-wrapper:last-child {
    flex: 2
}

.info-wrapper h3 {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-bottom: 33px;
}

.info-wrapper li {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.info-wrapper li:not(:last-child) {
    margin-bottom: 17px;
}

.horizon {
    width: 100%;
    height: 0px;
    margin: 62px 0 53px;
    border-top: 1px solid #000000;
}

.copyright {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    text-align: center;
    margin-bottom: 69px;
}